<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js" integrity="sha256-/H4YS+7aYb9kJ5OKhFYPUjSJdrtV6AeyJOtTkw6X72o=" crossorigin="anonymous"></script>
    <title>Welcome</title>
</head>
<body>
    <h1>Bienvenue!</h1>
    <form onsubmit="sendContact(event)">
        <fieldset>
            <legend>Infos Generales:</legend>
            <label for="firstname">Votre Prénom:</label>
            <input type="text" id="firstname" name="firstname" required><br>
            <label for="name">Votre nom de famille:</label>
            <input type="text" id="name" name="name" required><br>
            <label for="email">Votre Email:</label>
            <input type="email" id="email" name="email" required><br>
            <label for="tel">Numéro de telephone (facultatif):</label>
            <input type="tel" id="tel" name="tel" required="optional"><br>
            <label for="discord">Nom d'utilisateur discord (facultatif)</label>
            <input id="discord" name="discord" type="text">
        </fieldset>
        <fieldset>
            <legend>Infos plus précises:</legend>
            <fieldset>
                <legend>Cochez ce qui vous correspond le plus:</legend>
                <label for="dev">-Developpeur</label>
                <input type="checkbox" name="dev" id="dev"><br>
                <label for="gamer">-Gamer</label>
                <input type="checkbox" name="gamer" id="gamer"><br>
                <label for="other">-Autre (précisez)</label>
                <input type="checkbox" name="other" id="other"><br>
                <input type="text" name="othertxt" id="othertxt">
            </fieldset>
            <label>Cochez ce que vous souhaitez (Facultatif):</label><br>
            <label for="servdis">-Rejoindre le serveur discord:</label>
            <input type="checkbox" name="servdis" id="servdis"><br>
            <label for="join">-Me rejoindre, m'aider ou entrer en partenariat:</label>
            <input type="checkbox" name="join" id="join"><br>
            <label for="otherwish">-Autres (précisez):</label>
            <input type="text" id="otherwish" name="otherwish"><br>

            <strong>Si vous avez coché serveur Discord:</strong><br>
            <strong>-Merci de verifier que vous avez entrer votre nom d'utilisateur discord dans infos generales</strong><br>
            <i>Rejoindre mon serveur discord par le biais de ce formulaire vous permettra d'avoir des rôles spéciaux</i><br>
            - Des roles vous seront donnés en fonction de ce que vous avez répondu au formulaire
        </fieldset><br>
        <button value="submit" id="submit" name="submit" type="submit">Submit</button>
    </form>
    <script>
        function getvalue(txt){
            return document.querySelector(txt).value
        }
        /*window.onload = async function(){
            const webhookUrl = CryptoJS.aes.decrypt('U2FsdGVkX18eKFNTFgWVTP9c0x0LOQem4MvBRUey3ijT4S3V/g3oLTPfxDmzK9UFEu0tttH1gClevy4RxDRkoKo6GmdkB8IzNtSvRIaW0OtlIijtMoIg4e/nMwZCptiYKFmkx7CqVvBhKFA8JJsbJcHJW8uZUsYjmmZTA89H4byuut8QrtvJJc1cgW+hH40S7RB6yirgr+d+/UNdOU3ZiQ==','GZOD01')
            const response = await fetch(webhookUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: 'someone come to the welcome website'
            })
        }*/
        async function sendContact(ev) {
            ev.preventDefault();
            infos = {
                infos: [
                { name: 'Prénom', value: getvalue('#firstname') },
                { name: 'Nom de famille', value: getvalue('#name')},
                { name: 'email', value: getvalue('#email') },
                { name: 'tel', value:getvalue('#tel')},
                { name: 'discord', value:getvalue('#discord')},
                { name: 'dev', value:getvalue('#dev')},
                { name: 'gamer', value:getvalue('#gamer')},
                { name: 'other', value:getvalue('#other')},
                { name: 'othertxt', value:getvalue('#othertxt')},
                { name: 'servdis', value:getvalue('#servdis')},
                { name: 'join', value:getvalue('#join')},
                { name: 'otherwish', value:getvalue('#otherwish')}
                ]
            }
            const webhookBody = {
            embeds: [{
                title: 'Candidatures de testeur',
                fields: [
                    { name: 'INFOS', value: JSON.stringify(infos)}
                ]
            }],
            };

            const webhookUrl = CryptoJS.AES.decrypt('U2FsdGVkX18eKFNTFgWVTP9c0x0LOQem4MvBRUey3ijT4S3V/g3oLTPfxDmzK9UFEu0tttH1gClevy4RxDRkoKo6GmdkB8IzNtSvRIaW0OtlIijtMoIg4e/nMwZCptiYKFmkx7CqVvBhKFA8JJsbJcHJW8uZUsYjmmZTA89H4byuut8QrtvJJc1cgW+hH40S7RB6yirgr+d+/UNdOU3ZiQ==','GZOD01').toString(CryptoJS.enc.Utf8)
            const response = await fetch(webhookUrl, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(webhookBody),
            });

            if (response.ok) {
            alert('Candidature envoyée avec succès');
            } else {
            alert('Il y a eu une erreur, rééssayez. Verifiez que vous avez bien complété toutes les cases.');
            }
        }
    </script>
</body>
</html>
